ADF_Pipelines/Incremental_pipeline/pipeline/Incremental_pipeline.json
{
    "name": "Incremental_pipeline",
    "properties": {
        "activities": [
            {
                "name": "Sql to DL",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "last_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "current_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from source_cars_data where Date_ID > '@{activity('last_load').output.value[0].last_load}' AND Date_ID <= '@{activity('current_load').output.value[0].max_date}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "Sql_sink",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "Parquet1",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "last_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select * from water_mark;",
                        "queryTimeout": "00:20:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "Dynamic_sql",
                        "type": "DatasetReference",
                        "parameters": {
                            "filename": "water_mark"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "current_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select max(Date_ID) as max_date from source_cars_data;",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "Dynamic_sql",
                        "type": "DatasetReference",
                        "parameters": {
                            "filename": "source_cars_data"
                        }
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "update water mark table",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Sql to DL",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[updatewatermarktable]",
                    "storedProcedureParameters": {
                        "lastload": {
                            "value": {
                                "value": "@activity('current_load').output.value[0].max_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "Sql_database",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Job_of_databricks",
                "type": "DatabricksJob",
                "dependsOn": [
                    {
                        "activity": "update water mark table",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "jobId": "818366742568413"
                },
                "linkedServiceName": {
                    "referenceName": "DataBricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-07-25T06:41:10Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}